.footer {
  width: 100%;
  height: 1200px;
  height: auto;
  background-color: #000;
  margin-top: 60px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.contacts {
  max-width: 464px;
  height: 483px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 0px 0px 25px;
}
.unread-logo-img {
  width: 134px;
  height: 18px;
  margin-bottom: 40px;
  cursor: pointer;
}
.bottom-contact1 h6 {
  font-weight: 500;
  color: #fff;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  letter-spacing: 0.015rem;
  font-size: 14px;
  display: flex;
  gap: 5px;
  cursor: pointer;
}
.bottom-contact1 p {
  font-weight: 500;
  color: #fff;
  opacity: 0.5;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  font-size: 11px;
  margin-top: 10px;
}
.btn1 {
  max-width: 323px;
  min-height: 90px;
  width: 100%;
  border-radius: 24px;
  background-image: url(./btn-black.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  translate: -5px;
  transition: translate 0.3s linear;
  margin-top: 15px;
  cursor: pointer;
}
.btn1:hover {
  translate: 0px;
}
.btn1:hover .circle-btn-border {
  background-color: #3399ff8b;
}
.btn1:hover .circle-btn {
  background-color: #3399ff;
}
.btn1 p {
  font-weight: 400;
  color: #fff;
  opacity: 0.3;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  font-size: 12px;
}
.btn1 h6 {
  font-weight: 400;
  color: #fff;
  font-family: "SF Display", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 23px;
}
.circle-btn-border {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-google {
  display: flex;
  gap: 10px;
  margin-top: 15px;
  padding-right: 20px;
}
.app-google img {
  width: 180px;
  height: 56px;
  width: 100%;
  cursor: pointer;
}
.menu-all {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 46px 0px 0px 25px;
}
.menu-1 h6 {
  color: #0078f6;
  letter-spacing: 0.03rem;
  font-family: "SF Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.menu-1 h4 {
  color: #878787;
  letter-spacing: 0.03rem;
  font-family: "SF Display", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  transition: translate 0.3s linear;
  translate: -5px;
  margin-left: 5px;
  cursor: pointer;
}
.menu-1 h4:hover {
  translate: 0px;
  color: #fff;
}
.menu-2 h5 {
  color: transparent;
  letter-spacing: 0.03rem;
  font-family: "SF Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.menu-2 h4 {
  color: #878787;
  letter-spacing: 0.03rem;
  font-family: "SF Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 25px;
  transition: translate 0.3s linear;
  translate: -5px;
  cursor: pointer;
}
.menu-2 h4:hover {
  translate: 0px;
  color: #fff;
}
.menu-3 h6 {
  color: #0078f6;
  letter-spacing: 0.03rem;
  font-family: "SF Display", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}
.menu-3 h4 {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: 0.03rem;
}
.menu-3 p {
  color: #fff;
  opacity: 0.5;
  font-weight: 500;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.03rem;
}
.menu-3 h5 {
  color: #fff;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  transition: translate 0.3s linear;
  translate: -5px;
  padding-left: 2px;
  cursor: pointer;
}
.menu-3 h5:hover {
  translate: 0px;
}
.visit {
  margin-top: 20px;
}
.social-platform {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.fb {
  width: 32px;
  height: 32px;
  fill: #888888;
  cursor: pointer;
}
.fb:hover {
  fill: #475993;
}
.ig {
  width: 32px;
  height: 32px;
  fill: #888888;
  cursor: pointer;
}
.ig:hover {
  fill: #f77737;
}
.twitter {
  width: 39px;
  height: 32px;
  fill: #888888;
  cursor: pointer;
}
.twitter:hover {
  fill: #0078f6;
}
.linkdn {
  width: 32px;
  height: 32px;
  fill: #888888;
  cursor: pointer;
}
.linkdn:hover {
  fill: #3399ff;
}
.yt {
  width: 42px;
  height: 32px;
  fill: #888888;
  cursor: pointer;
}
.yt:hover {
  fill: #ff2500;
}
.soundcloud {
  width: 55px;
  height: 45px;
  fill: #888888;
  cursor: pointer;
}
.soundcloud:hover {
  fill: #f77737;
}
@media screen and (min-width: 650px) {
  .footer {
    min-width: 650px;
    height: 892px;
    height: auto;
  }
  .contacts {
    width: 292px;
    height: 600px;
  }
  .bottom-contact1 h6 {
    font-size: 13px;
  }
  .app-google img {
    width: 131px;
    height: 41px;
  }
  .tops {
    display: flex;
  }
  .button-contact2 {
    display: block;
  }
  .menus {
    margin-left: 30px;
  }
  .menu-all {
    margin-top: 45px;
    margin-top: 130px;
  }
  .menu-1 {
    width: 110px;
    height: 299px;
  }
  .menu-1 h4 {
    margin-left: 5px;
  }
  .menu-2 {
    width: 110px;
    height: 299px;
  }
}

@media screen and (min-width: 830px) {
  .social-platform {
    margin-top: 120px;
  }
}
@media screen and (max-width: 980px) {
  .button-contact2 {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .bottom-contact1 {
    display: none;
  }
}
@media screen and (min-width: 980px) {
  .footer {
    min-width: 980px;
    height: 673px;
  }
  .contacts {
    width: 351px;
    height: 403px;
    padding-left: 0;
  }
  .app-google img {
    width: 144px;
    height: 45px;
  }
  .btn1 {
    margin-top: 15px;
  }
  .app-google {
    margin-top: 45px;
  }
  .menus {
    width: 544px;
    height: 403px;
    width: 100%;
    padding: 100px 0px 0px 50px;
  }
  .menu-all {
    padding: 0;
    width: 560px;
    height: 264px;
    width: 100%;
    margin-top: 46px;
  }
  .tops {
    width: 940px;
    height: 403px;
    margin: auto;
  }
  .button-contact2 h5 {
    font-weight: 500;
    color: #fff;
    font-family: "SF Display", Helvetica, Arial, sans-serif;
    letter-spacing: 0.015rem;
    font-size: 14px;
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  .button-contact2 p {
    font-weight: 500;
    color: #fff;
    opacity: 0.5;
    font-family: "SF Display", Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-top: 10px;
    margin-top: 46px;
  }
  .menu-1 {
    width: 120px;
  }
  .menu-2 {
    width: 120px;
  }
  .social-platform {
    max-width: 940px;
    margin: auto;
    justify-content: space-between;
    margin-top: 180px;
  }
}
@media screen and (min-width: 1220px) {
  .footer {
    margin-top: 100px;
  }
  .tops {
    width: 1116px;
    margin: auto;
    margin-top: -50px;
    gap: 80px;
  }
  .contacts {
    width: 416px;
    height: 403px;
    padding-left: 0;
  }
  .btn1 {
    margin-top: 15px;
  }
  .app-google {
    margin-top: 45px;
  }
  .app-google img {
    width: 144px;
    height: 45px;
  }
  .button-contact2 {
    width: 450px;
  }
  .menus {
    width: 600px;
    height: 403px;
    width: 100%;
  }
  .menu-all {
    gap: 40px;
  }
  .menu-1 {
    width: 180px;
    height: 328px;
  }
  .menu-1 h4 {
    margin-left: 5px;
  }
  .menu-2 {
    width: 180px;
    height: 328px;
  }
  .menu-3 {
    width: 180px;
    height: 328px;
  }
  .social-platform {
    max-width: 1116px;
    margin: auto;
    justify-content: space-between;
    margin-top: 180px;
  }
}
@media screen and (max-width: 390px) {
  .footer {
    height: auto;
  }
  .app-google {
    flex-wrap: wrap;
    width: 200px;
  }
}
