.write-comment {
  width: 100%;
  height: 380px;
  background-color: #f6f6f6;
  padding: 30px 0px;
  margin-top: 60px;
}
.write-comment-bottom {
  max-width: 380px;
  height: 296px;
  margin: auto;
}
.top-up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 29px;
}
.top-up img {
  width: 30px;
  height: 28px;
}
.comment-write {
  width: 380px;
  height: 160px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.name {
  width: 350px;
  border: none;
  border-bottom: solid 1px gray;
  padding: 10px 0px;
  font-family: sans-serif;
}
.name:focus {
  outline: none;
}
.comment {
  width: 350px;
  padding-top: 12px;
  border: none;
  font-family: sans-serif;
}
.comment:focus {
  outline: none;
}
.comment2 {
  width: 380px;
  height: 32px;
  background-color: #fafafa;
  border-radius: 8px;
  font-weight: 600;
  text-shadow: none;
  margin-top: 16px;
  font-size: 16px;
  color: #888888;
  border: 1px solid rgba(0, 0, 0, 0.06);
  cursor: pointer;
}
.comment2:hover {
  border: solid 1px rgba(128, 128, 128, 0.346);
}
.comment2 p {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}
.bottom p {
  margin-top: 25px;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  font-family: sans-serif;
}
.bottom a {
  text-decoration: none;
}
